RewriteEngine On

#redirect all old URLs to the new rewritten URL
RewriteCond %{THE_REQUEST} ^GET\ /+dl\.php\?device=([^&\ ]+)
RewriteRule ^ /%1? [R=302,L]

#rewrite folder path internally to dl.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/?$ dl.php?device=$1 [QSA,L]